@{

    Layout = "~/Views/Shared/Index.cshtml";
}
<div class="h2_box">
    <h2>Üyelik Kaydınız Tamamlandı</h2>
</div>
 


<div class="row">

    <div class="heroMesageSmall">
        <img src="/Assets/member/img/check.png" />
        <strong>
            Kaydınız başarıyla alınmıştır.<p /><p />
       
    </div>

</div>